<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About

    </title>
</head>

<body bgcolor="#FBF9F4">




    <table>

        <tr>
            <td><img src="./assets/image/projectModifier.PNG" alt=""></td>
            <td><a href=""><img src="./assets/image/name.png" alt=""></a></td>
            <td><img src="./assets/image/betweenName.PNG" alt=""></td>
            <td><a href="#"><strong> Home</strong> </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#"><strong>About </strong></a> &nbsp; &nbsp; &nbsp;&nbsp;
                <a href="#"><strong>Projects </strong></a> &nbsp; &nbsp; &nbsp;&nbsp;
                <a href="#"><strong>Gallery </strong></a> <br>
                </strong>____________________________________ <strong></td>
        </tr>
    </table>
    <table background="assets/image/background.jfif" width="100%">
        <tr>
            <td align="center"><br><br><br>
                <h1> My name is natnael abay</h1><br><br><br>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <table cellspacing="20">

        <tr>
            <td rowspan="5">
                <img src="assets/image/aboutmodifier.PNG" alt="">
            </td>
            <td>
                <p align="center">
                    <pre>            I am originally from Atlanta, Georgia, and am a proud ramblin’ wreck from Georgia Tech. After college,I
            studied psychology and quantitative methods, receiving my Ph.D. from Vanderbilt University (2008).I am  
            now a data scientist and professional educator at RStudio. Prior to that, I was an Assistant Professor 
            at Arizona State University, and an Associate Professor at Oregon Health &  Science University (OHSU).</pre>
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <p align="center">&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="./assets/image/middle.PNG" alt=""></p>
            </td>
        </tr>

        <tr>
            <td>
                <p align="center">
                    <pre>            I am originally from Atlanta, Georgia, and am a proud ramblin’ wreck from Georgia Tech. After college,I
                studied psychology and quantitative methods, receiving my Ph.D. from Vanderbilt University (2008).I am  
                now a data scientist and professional educator at RStudio. Prior to that, I was an Assistant Professor 
                at Arizona State University, and an Associate Professor at Oregon Health &  Science University (OHSU).</pre>
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <p align="center">&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="./assets/image/middle.PNG" alt=""></p>
            </td>

        </tr>

        <tr>
            <td>
                <p align="center">
                    <pre>            I am originally from Atlanta, Georgia, and am a proud ramblin’ wreck from Georgia Tech. After college,I
            studied psychology and quantitative methods, receiving my Ph.D. from Vanderbilt University (2008).I am  
            now a data scientist and professional educator at RStudio. Prior to that, I was an Assistant Professor 
            at Arizona State University, and an Associate Professor at Oregon Health &  Science University (OHSU).</pre>
                </p>
            </td>
        </tr>
    </table>

    <hr width="65%">
    <table cellspacing="20">
        <tr>
            <td><img src="./assets/image/aboutbox.PNG" alt=""></td>
            <td valign="top">
                <h2>Experiences</h2>
            </td>
            <td><img src="./assets/image/vertical.PNG" alt=""></td>
            <td>
                <table>
                    <tr>
                        <td background="./assets/image/shadow.png"><br>
                            <pre> my name is natnael *ngFor="let item of list; sdfdsa   </pre><br><br></td>

                    </tr>
                    <tr>
                        <td><img src="./assets/image/boxbetween.PNG" alt=""></td>
                    </tr>

                    <tr>
                        <td background="./assets/image/shadow.png"><br>
                            <pre> my name is natnael *ngFor="let item of list;    </pre><br><br></td>

                    </tr>
                    <tr>
                        <td><img src="./assets/image/boxbetween.PNG" alt=""></td>
                    </tr>

                    <tr>
                        <td background="./assets/image/shadow.png"><br>
                            <pre> my name is natnael *ngFor="let item of list;    </pre><br><br></td>

                    </tr>
                    <tr>
                        <td><img src="./assets/image/boxbetween.PNG" alt=""></td>
                    </tr>
                    <tr>
                        <td background="./assets/image/shadow.png"><br>
                            <pre> my name is natnael *ngFor="let item of list;    </pre><br><br></td>

                    </tr>
                    <tr>
                        <td><img src="./assets/image/boxbetween.PNG" alt=""></td>
                    </tr>

                    <tr>
                        <td background="./assets/image/shadow.png"><br>
                            <pre> my name is natnael *ngFor="let item of list;    </pre><br><br></td>

                    </tr>
                </table>
            </td>
        </tr>

    </table>

    <table background="./assets/image/contact.png" width="100%">
        <tr>
            <td align="center"><br><br><br>
                <h3>Get in touch</h3> <br><br><br><br>
            </td>
        </tr>

    </table>



    <!-- we are at the section of building our form -->

    <br>
    <table cellspacing="20">
        <tr>
            <td><img src="./assets/image/aboutbox.PNG" alt=""></td>
            <td valign="top"> <br>
                <h2>Hi, There</h2>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <br><br>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <form action="mailto:se.natnael.abay@gmail.com">
                                <table>
                                    <tr>
                                        <td><input type="text" size="60" value="  Name"></td>
                                    </tr>
                                    <tr>
                                        <td><img src="./assets/image/boxbetween.PNG" alt=""></td>
                                    </tr>
                                    <tr>
                                        <td><input type="email" size="60" value="  Email"></td>
                                    </tr>
                                    <tr>
                                        <td><img src="./assets/image/boxbetween.PNG" alt=""></td>
                                    </tr>
                                    <tr>
                                        <td><textarea name="Comment" id="" cols="61" rows="10">  Message</textarea></td>
                                    </tr>
                                    <tr>
                                        <td><img src="./assets/image/boxbetween.PNG" alt=""></td>
                                    </tr>
                                    <tr>
                                        <td><input type="submit" width="100" value="Submit"></td>
                                    </tr>
                                </table>
                            </form>
                        </td>




            </td>
        </tr>
        <tr>
            <!-- creating a space -->
            <td><br><br></td>
        </tr>
        <tr>
            <td><a href=""><img width="32" height="34" src="./assets/image/icons/facebook.png"
                        alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><a href=""><img width="32" height="34" src="./assets/image/icons/github.png"
                        alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <!-- <td ><a href=""><img width="32" height="34" src="./assets/image/icons/facebook.png" alt="" ></a></td>
                        <td ><a href=""><img width="32" height="34" src="./assets/image/icons/facebook.png" alt="" ></a></td> -->
            <td>
                <table cellspacing = "20">
                    <tr>
                        <td>
                            <a href=""><img width="32" height="34" src="./assets/image/icons/instagram.png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>

                        <td>
                            <a href=""><img width="32" height="34" src="./assets/image/icons/linkedin.png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <a href=""><img width="32" height="34" src="./assets/image/icons/twitter.png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <!-- <td>
                            <a href=""><img width="32" height="34" src="./assets/image/icons/facebook.png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td> -->
                    </tr>
                </table>

            </td>
            
        </tr>
    </table>
    </td>

    </tr>






    </table>












    <!-- this is to make space -->
    <img src="./assets/image/boxbetween.PNG" alt="">
    <img src="./assets/image/boxbetween.PNG" alt="">
    <p align="center"> &copy;&nbsp;&nbsp; Natnael Abay, 2020</p>

</body>

</html>